.a1-icon {
  font-size: inherit;
  line-height: 1;
  user-select: none;
  font-variation-settings:
    "FILL" var(--a1-icon-fill, 0),
    "wght" var(--a1-icon-weight, var(--base-font-weight-regular)),
    "GRAD" var(--a1-icon-grade, 0),
    "opsz" var(--a1-icon-opsz, var(--base-icon-optical-size));
}
