.a1-paragraph {
  margin: 0;
  font-family: var(--component-paragraph-font-family);
  font-size: var(--a1-paragraph-size);
  font-weight: var(--component-paragraph-font-weight);
  line-height: var(--component-paragraph-font-line-height);
  color: var(--a1-paragraph-color, var(--semantic-color-text-default));
}

.a1-paragraph--xs { --a1-paragraph-size: var(--semantic-font-size-body-xs); }
.a1-paragraph--sm { --a1-paragraph-size: var(--semantic-font-size-body-sm); }
.a1-paragraph--md { --a1-paragraph-size: var(--semantic-font-size-body-md); }
.a1-paragraph--lg { --a1-paragraph-size: var(--semantic-font-size-body-lg); }
.a1-paragraph--xl { --a1-paragraph-size: var(--semantic-font-size-body-xl); }

.a1-paragraph--muted { --a1-paragraph-color: var(--semantic-color-text-muted); }
