TESLA_CLIENT_ID=
TESLA_CLIENT_SECRET=
TESLA_REDIRECT_URI=http://127.0.0.1:5189/api/tesla/oauth/callback
TESLA_AUDIENCE=https://fleet-api.prd.na.vn.cloud.tesla.com
TESLA_SCOPES=openid offline_access vehicle_device_data vehicle_location vehicle_charging_cmds
TESLA_APP_ORIGIN=http://127.0.0.1:5189
TESLA_PROXY_PORT=5189
